.side-by-side-multiselect {
  $this: &;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-block-end: 1rem;

  &filter {
    position: relative;
    width: calc(50% - 0.5rem);

    &--order {
      width: calc(50% - 0.5rem - var(--sidebysite-multiselect-order-size) / 2);
    }

    &__label {
      opacity: 0.6;
      position: absolute;
      display: block;
      inset-block-start: 0;
      inset-inline: 0;
      padding: 0.5rem;
      transition: 0.2s ease top, 0.2s ease opacity, 0.2s ease font-size;
      pointer-events: none;
      cursor: text;
    }

    &__input {
      width: 100%;
      border: solid var(--sidebysite-multiselect-color);
      border-width: var(--sidebysite-multiselect-width) var(--sidebysite-multiselect-width) 0;
      padding: 0.5rem;
      outline: none;
      appearance: none;
      border-radius: 0;

      &:focus {
        color: var(--sidebysite-multiselect-focuscolor);
        background-color: var(--sidebysite-multiselect-focusbgcolor);
      }

      &.isfilled,
      &:focus {
        & ~ #{$this}filter__label {
          opacity: 1;
          inset-block-start: -2rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  &label {
    display: block;
    padding: 0.5rem;
  }

  &__inner {
    width: calc(50% - 0.5rem);
    border: var(--sidebysite-multiselect-width) solid var(--sidebysite-multiselect-color);
    overflow-y: auto;
    height: var(--sidebysite-multiselect-height);

    &:focus {
      background-color: var(--sidebysite-multiselect-focusbgcolor);
    }

    #{$this}--order & {
      width: calc(50% - 0.5rem - var(--sidebysite-multiselect-order-size) / 2);
    }
  }

  &__counter {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: end;
  }

  &__option {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    user-select: none;

    &--selected,
    &:focus,
    &:hover {
      color: var(--sidebysite-multiselect-hover-textcolor);
      background-color: var(--sidebysite-multiselect-color);
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: var(--sidebysite-multiselect-order-size);

    button {
      margin: 0;
      width: auto;
      overflow: visible;
      text-align: inherit;
      outline: none;
      font: inherit;
      line-height: normal;
      background: none;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      appearance: none;

      // Start the styling
      display: flex;
      align-items: center;
      background-color: var(--sidebysite-multiselect-button-backgroundcolor);
      padding: 0.5rem;
      border: var(--sidebysite-multiselect-button-border);
      height: var(--sidebysite-multiselect-order-size);
      font-size: 0;
      color: var(--sidebysite-multiselect-button-color);

      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }
    }

    .totop {
      transform: rotate(-90deg);
    }

    .up {
      transform: rotate(90deg);
    }

    .down {
      transform: rotate(-90deg);
    }

    .tobottom {
      transform: rotate(90deg);
    }
  }
}
